# Virtual Environment
knowledge/.venv/
**/.venv/

# PyCharm
.idea/
knowledge/.idea/
*.iml

# macOS
.DS_Store

# Env
.env
.env.*
!.env.example

# LangGraph / SQLite
*.db
*.sqlite
*.sqlite3
langgraph_sqlite.db

# Logs
logs/
*.log

# VSCode
.vscode/

docs/
scripts/
