# Virtual Environment
knowledge/.venv/
**/.venv/

# PyCharm
.idea/
knowledge/.idea/
*.iml

# macOS
.DS_Store

# Env
.env
.env.*
!.env.example

# LangGraph / SQLite
*.db
*.sqlite
*.sqlite3
langgraph_sqlite.db

# Logs
logs/
*.log

# VSCode
.vscode/

import_files/
scripts/


# 忽略所有 __pycache__ 目录和 .pyc 文件
__pycache__/
*.pyc
*.pyo

# 忽略实际环境变量文件，但保留 .env.example
